<section id="steps" class="steps section-bg">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-4 mt-5">
      </div>
    </div>
  </div>
</section>


<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title text-center ml-4 mr-4">
      <h2>Edit this item</h2>
       <%= render "form", item: @item %>
    </div>
  </div>

     <div class="section-title text-center ml-4 mr-4">
    <%= link_to "Back to all items", items_path, class: "btn btn-dark"%>
  </div>

  </div>


